<!-- Use https://www.svgviewer.dev/ to modify the following svg -->
<svg width="240" height="350" xmlns="http://www.w3.org/2000/svg">
  <foreignObject width="240" height="350">
    <div xmlns="http://www.w3.org/1999/xhtml" class="container" style="width:fit-content;height:fit-content;font-family:SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:400">
      <body style="position:absolute;width:100%;height:100%;background-color:transparent;margin:0">
        <div class="card" style="background:{{background_color}};border-radius:.5rem;width:240px;height:350px">
          <img src="data:image/jpeg;base64, {{artwork_url}}" class="thumbnail" style="width:100%;border-top-left-radius:.5rem;border-top-right-radius:.5rem"/>
          <div class="info" style="margin-top:.1rem;font-family:SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif!important">
            <p class="title" style="margin-top:10px;font-size:1.25rem;font-weight:800;color:#fff;margin-bottom:.25rem;padding:.5rem 1rem 0;letter-spacing:0;font-family:SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif!important;word-spacing:0">
              <b>
                {{track_name}}
              </b>
            </p>
            <p style="margin:.1rem .1rem .5rem;font-size:.8rem;font-weight:400;color:#fff;font-family:SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif!important;padding-left:1rem">
              {{artist_name}}
            </p>
            <div class="apple-music" style="display:flex;flex-direction:row;align-items:center;font-size:1rem;padding:0.2rem 0.5rem 1rem 1rem">
              <img src="data:image/png;base64, {{apple_icon}}" class="icon" style="width:16px;height:16px;margin-bottom:.2rem;margin-right:-.1rem"/>
              <span style="display:flex;align-items:center;color:gray;margin-left:0.5rem;">
                Podcast
              </span>
            </div>
          </div>
        </div>
      </body>
    </div>
  </foreignObject>
</svg>
