<!-- Use https://www.svgviewer.dev/ to modify the following svg -->
<svg width="442" height="594" xmlns="http://www.w3.org/2000/svg">
  <foreignObject width="442" height="594">
    <div xmlns="http://www.w3.org/1999/xhtml" class="container" style="width:fit-content;height:fit-content;font-family:SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:400">
      <body style="position:absolute;width:100%;height:100%;background-color:transparent;margin:0">
        <div class="card" style="background:{{background_color}};border-radius:.5rem;width:442px;height:594px">
          <img src="data:image/jpeg;base64, {{artwork_url}}" class="thumbnail" style="width:442px;height:442px;border-top-left-radius:.5rem;border-top-right-radius:.5rem"/>
          <div class="info" style="margin-top:.1rem;font-family:SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif!important">
            <p style="padding:0 10px;text-align:center;font-size:25px;font-weight:400;color:#fff;font-family:SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif!important">
              {{podcast_description}}
            </p>
          </div>
        </div>
      </body>
    </div>
  </foreignObject>
</svg>
