<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
   <foreignObject width="240" height="240">
      <div xmlns="http://www.w3.org/1999/xhtml" class="container" style="width: 240px; height: fit-content;">
         <body style="position: absolute; width: 100%; height: 100%; background-color: transparent; margin: 0;">
            <div class="card" style="background: black; border-radius: 0.5rem; width: 240px; height: 240px;">
               <img src="data:image/jpeg;base64, {{artwork_url}}" class="thumbnail" style="width: 100%; border-radius: 0.5rem;"/>
            </div>
         </body>
      </div>
   </foreignObject>
</svg>